<div id="<%= dom_id rent %>">
  <p>
    <strong>User:</strong>
    <%= rent.user_id %>
  </p>

  <p>
    <strong>Space:</strong>
    <%= rent.space_id %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= rent.duration %>
  </p>

</div>
